/* h1{
    background-color: lightseagreen;
    color: white;
    width: 15%;
    float: left;    
    position: relative;
    padding: 5px
}
h2{
    float: left;
    color:lightseagreen;
    width: 25%;
    right: 10%;
    
}
h3 {
    float: right;
    padding: 2%;
    
    
}
p {

}
img {
    width: 15%;
    height: 200px;
}
#profile{
    Float: down;
    width: 15%;
    height: 200px;
} */